<section>
    <div class="container">
        <table class="table table-hover">
        <thead>
        <tr>
        <th scope="col">user name</th>
        <th scope="col">email</th>
        <th scope="col">monthly amount</th>
        <th scope="col">date</th>
        <th scope="col">Loan amount</th>
        <th scope="col">date</th>
        </tr>
        </thead>
        <tbody>
            {{#each memberDetail}}
            <tr>
            <th scope="row">{{this.username}}</th>
            <td>{{this.email}}</td>
            <td>{{this.monthly_amount}}</td>
            <td>{{this.date_m}}</td>
            <td>{{this.loan_amount}}</td>
            <td>{{this.date_l}}</td>
            </tr>
            {{/each}}
           
        </tbody>
        </table>
    </div>
</section>