<section>
    <div class="container">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Reg Id</th>
      <th scope="col">User name</th>
      <th scope="col">email</th>
      <th scope="col">Phone no</th>
      
    </tr>
  </thead>
  <tbody>
      {{#each members}}
    <tr>
      <th scope="row">{{this.regId}}</th>
      <th>{{this.userName}}</th>
      <td>{{this.email}}</td>
      <td>{{this.phone}}</td>
      <td><a href="members_details/{{this.regId}}" type="button" class="btn btn-primary">view Profile</a></td>
      <td><a href="edit_member/{{this.regId}}" type="button" class="btn btn-primary">Edit Profile</a></td>
    </tr>
    {{/each}}
    
  </tbody>
</table>

    </div>
</section>