
<section>
<div class="container mt-5">
<table class="table table-success table-striped" id="c">
  <thead class="thead-dark">
    <tr>
     
      <th scope="col">Date</th>
      <th scope="col">Amount</th>
        
    </tr>
  </thead>
  <tbody>
       {{#each result}}
    <tr>
     
      <td>{{this.date}}</td>
      <td>{{this.amount}}</td>
      
    </tr>
    
     {{/each}}
     <tr>
     {{#each sum}}
      <td>Total</td>
      <td>{{this.sum}}</td>
      {{/each}}
    </tr>
    <tr>
     {{#each balance}}
      <td>Loan Balance To Pay</td>
      <td>{{this.amount}}</td>
      {{/each}}
    </tr>
  </tbody>
</table>
{{!-- {{#each sum}}

  <input type="text" id="val" name="val" value="{{this.sum}}" readonly>      
        {{/each}} --}}
</div>
</section>

